@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
  font-size: 64px;
  letter-spacing: 0;
  color: rgb(65, 65, 65);
  background: rgb(85, 250, 255);
  background: linear-gradient(
    90deg,
    rgba(174, 253, 255, 1) 0%,
    rgba(163, 207, 255, 1) 58%,
    rgb(255, 160, 226) 100%
  );
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  height: 450px;
  width: 450px;
  border: 30px solid rgb(150, 208, 255);
  border-radius: 3%;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cell {
  border: 1px solid rgb(250, 250, 250);
  background-color: white;
}

.cell:hover {
  background-color: rgb(230, 230, 230);
}

.cell.active {
  background-color: rgb(127, 255, 212);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
