div {
  border: 0.3px solid gray;
}

#board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.box {
  border: 1px solid gray;
}

.box-color {
  background-color: aqua;
}
